body {
  max-width: 600px;
  margin: 0 auto;
}

.one {
  background: pink;
  border: 3px solid blue;
  /* CHANGE ME */
  padding: 30px;
  margin: 10px;
}

.two {
  background: lightblue;
  border: 3px solid purple;
  /* CHANGE ME */
  margin-bottom: 35px;
}

.three {
  background: peachpuff;
  border: 3px solid brown;
  width: 200px;
  /* CHANGE ME */
  padding: 30px;
  /* my initial margin-left had been manually calculated. 
  after looking at solution, I noticed that because the max width of the body is given, so you could just 
  use auto which would calculate for you */
  margin-left: auto;
}